/* css styles */

/* Força o tamanho da logo e altera o fundo na barra de navegação */
.navbar-logo {
    background-color: #000000 !important; /* Fundo preto absoluto para destacar o dourado */
    max-height: 65px !important; /* Aumenta o tamanho (pode mudar para 70px ou 80px se quiser maior) */
    height: auto !important;
    padding: 6px !important; /* Respiro entre a logo e a borda */
    border-radius: 8px !important; /* Pontas arredondadas na caixinha preta */
    margin-top: -10px !important; /* Ajusta o alinhamento para não descer muito a barra */
    margin-bottom: -10px !important;
}
