/*-- scss:defaults --*/
@import "genobit";

$primary: $genobit-green;
$link-color: #3dd6ac;
$body-bg: #0f1724;
$body-color: #e6e9ef;
$navbar-bg: #0b111c;
$footer-bg: #0b111c;

/*-- scss:rules --*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
